@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@400;700&display=swap');

body{
    background-color:#1a1110;
    
}
.cima{
    display: flex;
    justify-content: center;                   
    margin-top: 5%;
}
h1{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(222, 222, 236), rgb(203, 187, 187), rgb(209, 223, 255) );
    background-clip: text;
    color: transparent;
    font-family: "Playwrite CU", cursive;
}

        
.formato{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20%,1fr));/*pesquisei pra enentender*/
    gap:20px;
    padding: 10px;
    z-index: 2;
}
.card{
    background-color: #979696;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    z-index: 2;
}
.card h3{
    margin: 0 0 10px 0;
    font-size: 20px;
}
a{
    color: #1a1110;
    text-decoration: none;
}  
.card p{
    margin: 4px 0;
    color: gold;
}


.editar{
    color: royalblue;
    border-radius: 30px;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    cursor: pointer;
}





.voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
    left: 2%;
    font-family: monospace;
    background-color: white;
    font-size: 20px;
    width: 8vw;
    height: 7vh;
    border: 2px solid burlywood;
    border-radius: 10px;
    color: burlywood;
    text-decoration: none;
    background-color:#3B2A27;
    transition: 0.4s ease;
    z-index: 2;
}
.voltar:hover{
    background-color: #4A3A36;
}


.custom-shape-divider-bottom-1764744642 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1764744642 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 282px;
}

.custom-shape-divider-bottom-1764744642 .shape-fill {
    fill: #bb3a5a;
}